@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background : #172c3c;
  --header : #274862;
  --boton : #43bbf6;
  --white : #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mainContainer{
  height: 90vh;
  width: 100%;
  background-color: var(--background);
  overflow-y: scroll;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 

