@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background : #172c3c;
  --header : #274862;
  --boton : #43bbf6;
  --white : #fff;
  --bk-op : #02020254;
}


.video-container {
    width: 100vw;
    height: 90vh;
    overflow-y: scroll;
    background-color: var(--background);
    display: flex;
  }
  
.playerContainer{
  width: 70%;
  height: 100%;
}

.player{
  height: 85%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.player video{
  height: 75%;
}

.videoDescription{
  height: 20%;
  width: 100%;
  background-color: var(--bk-op);
  border-radius: 15px;
}

.playLIstContainer{
  width: 30%;
  height: 100%;
}
  