:root {
    --background : #172c3c;
    --header : #274862;
    --boton : #43bbf6;
    --white : #fff;
    --bk-op : #02020254;
  }

.containerCart{
    margin: 10px;
    width: 400px;
    padding: 20px;
    position: relative;
    border-radius: 15px;
  }

.containerCart:hover{
    background-color: var(--bk-op);
    cursor: pointer;
}
  
  .containerCart img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .textCart p{
    margin: 0;
  }
  
  .textCart svg{
    fill: #eec305;
  }
  
  .spanContainer{
    display: flex;
  }
  
  .spanContainer span{
    color:white;
    font-size: 15px;
    margin: 0 5px;
  }

  .cardBadge{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    background-color: var(--white);
    padding: 3px 10px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 3px;
  }

  .textTilte{
    color: var(--white);
    font-size: 17px;
  }

  .textDescription{
    color: var(--white);
    height: 35px;
    overflow: hidden;
    font-size: 12px;
  }